* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    background-image: url(../images/heroplaceholder.png);
    background-size: cover;
    background-position: center;
    height: 10%;
    width: 100%;
    display: flex
}

header {
    width: 100%;
    margin: 20px;
}

h1 {
    display: flex;
}

nav {
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

nav a {
    color: #13293d;
    padding: 65px 0px 0px;
    margin: 5px;
    text-decoration: none;
    justify-content: flex-end;
}

.container {
    display: flex;
}

.content-container {
    float: right;
    width: 70%;
    margin-left: 5px;
    /* display: inline-block; */
}

.sidebar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    width: 20%;
    margin-right: 5px;
}

.sidebar-content {
    text-align: right;

}

#about-me1 {
    margin: 10px;
    padding: 10px;
    border-right: black 3px solid;
}

#work1 {
    margin: 10px;
    padding: 10px;
    border-right: black 3px solid;
}

#contact1 {
    margin: 10px;
    padding: 10px;
    border-right: black 3px solid;
}

.main-content {
    margin: 5px;
    justify-content: center;
  
}

.main-content img {
    width: 95%;
}

#work {

}

#work p {
    background-color: grey;
    width: 95%;
}

